@use './../service/mixins';
@use './../service/constants';

.about-us {
	margin-top: 85px;
	// padding-top: 13px;
	// padding-bottom: 30px;
	margin-bottom: 85px;
	--padding: 103px;
	@include mixins.maxBp(constants.$bp-768) {
		--padding: 20px;
	}
}

.about-us p {
	@include mixins.text-txt;
	margin-top: 22px;
	margin-bottom: 22px;
}

.about-us__wrapper {
	.about-us__etc {
		display: inline-flex;
		margin-left: 15px;
	}

}

.about-us__wrapper.is-expanded {
	.about-us__etc {
		display: none;
	}
}

.about-us__etc-text {

    display: none;
}

.about-us__etc-text.is-expanded {
    display: block;
}

.about-us__collapse {
	margin-left: auto;
}