@use './../service/mixins';
@use './../service/constants';

.payments {
	margin-top: 95px;
	margin-bottom: 82px;
}

.payments__title {
	@include mixins.text-h1;
	margin-bottom: 55px;;
}

.payments__slider {
	display: flex;
	justify-content: center;
}

.payments__link {
	border-radius: var(--radius);
	overflow: hidden;

}