@use './../service/mixins';
@use './../service/constants';

.swiper {
	z-index: 0;
}

.swiper-slide {
    text-align: center;
}
.swiper-button-prev {
	left: 0;
    right: auto;
}
.swiper-button-next {
	left: auto;
    right: 0;
}

.swiper-button-prev, .swiper-button-next {
	color:  #1D253C;
	width: auto;
	@include mixins.maxBp(constants.$bp-768) {
		display: none;
	}

	&::after {
		font-size: 14px;
	}
}

.swiper--our-partners {
	.swiper-wrapper {
		justify-content: space-between;
	}

	@include mixins.maxBp(constants.$bp-768) {
		.swiper-slide:not(.swiper-slide-active) {
			svg path {
				fill:  #D7DFF2;
				stroke: #D7DFF2;
			}
		}
	}
}

.swiper--payments {
	max-width: 1158px;
}
