:root {
--font-family-1: 'Intro', sans-serif;
--font-family-2: 'Intro Book', sans-serif;

--text-h1-size: 40px;

--text-h2-size: 24px;

--text-h3-size: 22px;

--text-h4-size: 22px;

--text-h5-size: 20px;

--text-number-size: 20px;

--text-txt-size: 16px;

--text-txt2-size: 14px;

--text-txt-menu-size: 18px;

--text-big-size: 32px;

--page-bc: #FFF;
--page-bc-gray: #F8FAFF;

--color-white: #FFFFFF;
--color-black: #1D253C;
--color-yellow: #FFDD2D;
--color-blue: #2B6BF3;
--color-d-blue: #1252DB;
--color-l-blue: #D0DEFD;
--color-red: #FD466E;
--color-gray: #C2D2F4;
--color-d-gray: #666666;
--color-l-gray: #F1F4FC;
--color-green: #27AE60;
--color-l-green: #6FCF97;

--radius: 8px;
}